.button-primary {
  position: relative;
  background-color: var(--base01);
  color: white;
  font-size: 0.8rem;
  padding: 0.25rem 0.5rem;
  border: 2px solid var(--base00);
  text-transform: uppercase;
  letter-spacing: 1px;
  box-shadow: 3px 3px 0 rgba(0, 0, 0, 0.3);
}

.button-primary:hover {
  background-color: var(--base02);
  cursor: pointer;
}
.button-primary:active {
  top: 3px;
  left: 3px;
  box-shadow: none;
}
