header {
  grid-area: header;
  background-color: var(--base05);
  padding: 0.5rem;
  display: flex;
  align-items: center;
  position: relative;
}
header span {
  margin-left: 4rem;
}
header button {
  margin-left: 2rem;
}
header fieldset {
  display: flex;
  flex-direction: column;
}
header select {
  margin-top: 0.25rem;
}
header:before,
header:after {
  position: absolute;
  display: block;
  content: "";
  width: 0.25rem;
  top: 0.25rem;
  bottom: 0.25rem;
  background-color: var(--base06);
}
header:before {
  left: 0;
}
header:after {
  right: 0;
}
