@import "./base.css";
@import "./behaviours.css";
@import "./scenario-sidebar.css";
@import "./character-sidebar.css";
@import "./modal.css";
@import "./button.css";

main {
  grid-area: canvas;
  overflow: hidden;
  border-left: 1px solid var(--base06);
  border-right: 1px solid var(--base06);
  display: flex;
}
canvas {
  flex: 1 0 100%;
  transition: box-shadow 0.2s linear;
}
canvas.playing {
  box-shadow: inset 0 0 0 0 transparent;
}
canvas.paused {
  box-shadow: inset 0 0 55px 25px rgba(0, 0, 0, 0.1),
    inset 0 0 5px 5px rgba(0, 0, 0, 0.23);
}

@keyframes fadeout {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(1.1);
  }
}

#play-status {
  display: none;
  width: 70px;
  height: 70px;
  background: rgba(0, 0, 0, 0.6);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  position: absolute;
  align-self: center;
  pointer-events: none;
  left: calc(50% - 2rem);
  backdrop-filter: blur(20px);
  animation: fadeout 500ms linear forwards;
}
#play-status.x {
  display: block;
}

#play-status path {
  fill: white;
}

legend {
  padding: 0.5rem 0;
  width: 100%;
  font-weight: bold;
  border-bottom: 2px solid var(--base06);
  margin-bottom: 0.5rem;
}

label {
  font-size: 0.8rem;
}

fieldset {
  border: 0;
}

select {
  padding: 0.25rem 0.5rem;
  border: 2px solid var(--base00);
  letter-spacing: 1px;
}

[type="number"] {
  padding: 0.25rem 0.5rem;
  letter-spacing: 1px;
  border: 2px solid var(--base00);
}

.checkbox-pair {
  display: flex;
}
.checkbox-pair input {
  margin-left: auto;
}
