@import "./base.css";
@import "./behaviours.css";
@import "./header.css";

main {
  grid-area: canvas;
  overflow: hidden;
  border-top: 1px solid var(--base06);
  border-right: 1px solid var(--base06);
}

canvas {
}
form {
  grid-area: aside;
  background-color: var(--base05);
  overflow-y: auto;
}
form fieldset {
  display: grid;
  grid-template-columns: max-content 1fr;
  grid-gap: 0.5rem;
}

legend {
  padding: 0.5rem;
  background: black;
  color: white;
}
label {
  font-size: 0.8rem;
}

fieldset {
  border: 0;
  padding: 1rem;
}

button + button {
  float: right;
}

select {
  padding: 0.25rem 0.5rem;
  border: 2px solid var(--base00);
  letter-spacing: 1px;
}

button {
  position: relative;
  background-color: var(--base01);
  color: white;
  font-size: 0.8rem;
  padding: 0.25rem 0.5rem;
  border: 2px solid var(--base00);
  text-transform: uppercase;
  letter-spacing: 1px;
  box-shadow: 3px 3px 0 rgba(0, 0, 0, 0.3);
}
button:hover {
  background-color: var(--base02);
  cursor: pointer;
}
button:active {
  top: 3px;
  left: 3px;
  box-shadow: none;
}
