@import "./behaviours.css";
* {
  box-sizing: border-box;
}
html,
body {
  width: 100%;
  height: 100%;
  display: flex;
}
body {
  font-family: sans;
  margin: 0;
}
#root {
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-rows: 5rem 1fr;
  grid-template-columns: 1fr 30rem;
  grid-template-areas:
    "header header"
    "canvas aside";
}
header {
  grid-area: header;
}
main {
  grid-area: canvas;
  overflow: hidden;
}
canvas {
}
form {
  grid-area: aside;
  overflow-y: auto;
}
legend {
  padding: 0.5rem;
  background: black;
  color: white;
}
label {
  align-self: center;
  text-align: right;
}
fieldset {
  display: grid;
  grid-template-columns: max-content 1fr;
  grid-gap: 0.5rem;
  margin-bottom: 1rem;
  padding: 1rem;
}
button + button {
  float: right;
}
